body {
  margin: 0;
}

.container {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  justify-content: space-around;
}

#listTodo {
  list-style: none;
  text-decoration: none;
  margin-right: 150px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

input {
  padding: 5px;
}

#buttonTodoAdd {
  background-color: green;
  padding: 5px;
  color: white;
  font-weight: bold;
}
